.bottom-menu {
    width: 100%;
    height: 90vh;
    background-color: #161616;
    position: fixed;
    top: 90vh;
    transition: all 300ms cubic-bezier(0.3, 0.9, 0.3, 0.9);
}

.menu-open {
    top: 10%;
}

.menu-close {
    top: 90%;
}

.gesture-button {
    width: 100px;
    height: 5px;
    background-color: #ffffff;
    margin: 10px auto;
}