.b-radius-0  {border-radius: 5px;}
.b-radius-5  {border-radius: 5px;}
.b-radius-10 {border-radius: 10px;}
.b-radius-15 {border-radius: 15px;}
.b-radius-20 {border-radius: 20px; height: 50vh}
.b-radius-25 {border-radius: 25px;}
.b-radius-30 {border-radius: 30px;}
.b-radius-35 {border-radius: 35px;}
.b-radius-40 {border-radius: 40px;}
.b-radius-45 {border-radius: 45px;}
.b-radius-50 {border-radius: 50px;}