.first {color:rgb(0,0,0);}
.second {color:rgb(0,0,0);}
.third {color:rgb(0,0,0);}
.fourth {color:rgb(0,0,0);}
.fifth {color:rgb(0,0,0);}
.sixth {color:rgb(0,0,0);}

.brown-d-90 {color:rgb(021,006,006);}
.brown-d-80 {color:rgb(037,010,010);}
.brown-d-70 {color:rgb(053,014,014);}
.brown-d-60 {color:rgb(069,018,018);}
.brown-d-50 {color:rgb(085,022,022);}
.brown-d-40 {color:rgb(101,026,026);}
.brown-d-30 {color:rgb(117,030,030);}
.brown-d-20 {color:rgb(133,034,034);}
.brown-d-10 {color:rgb(149,038,038);}
.brown {color:rgb(165,042,042);}
.brown-l-10 {color:rgb(181,046,046);}
.brown-l-20 {color:rgb(197,050,050);}
.brown-l-30 {color:rgb(213,054,054);}
.brown-l-40 {color:rgb(229,058,058);}
.brown-l-50 {color:rgb(242,062,062);}
.brown-l-60 {color:rgb(255,066,066);}
.brown-l-70 {color:rgb(255,070,070);}
.brown-l-80 {color:rgb(255,074,074);}
.brown-l-90 {color:rgb(255,078,078);}

.red-d-90 {color:rgb(025,0,0);}
.red-d-80 {color:rgb(050,0,0);}
.red-d-70 {color:rgb(075,0,0);}
.red-d-60 {color:rgb(100,0,0);}
.red-d-50 {color:rgb(125,0,0);}
.red-d-40 {color:rgb(150,0,0);}
.red-d-30 {color:rgb(175,0,0);}
.red-d-20 {color:rgb(200,0,0);}
.red-d-10 {color:rgb(225,0,0);}
.red {color:rgb(255,0,0);}
.red-l-10 {color:rgb(255,025,025);}
.red-l-20 {color:rgb(255,050,050);}
.red-l-30 {color:rgb(255,075,075);}
.red-l-40 {color:rgb(255,100,100);}
.red-l-50 {color:rgb(255,125,125);}
.red-l-60 {color:rgb(255,150,150);}
.red-l-70 {color:rgb(255,175,175);}
.red-l-80 {color:rgb(255,200,200);}
.red-l-90 {color:rgb(255,225,225);}

.yellow-d-90 {color:rgb(025,025,0);}
.yellow-d-80 {color:rgb(050,050,0);}
.yellow-d-70 {color:rgb(075,075,0);}
.yellow-d-60 {color:rgb(100,100,0);}
.yellow-d-50 {color:rgb(125,125,0);}
.yellow-d-40 {color:rgb(150,150,0);}
.yellow-d-30 {color:rgb(175,175,0);}
.yellow-d-20 {color:rgb(200,200,0);}
.yellow-d-10 {color:rgb(225,225,0);}
.yellow {color:rgb(255,255,0);}
.yellow-l-10 {color:rgb(255,255,025);}
.yellow-l-20 {color:rgb(255,255,050);}
.yellow-l-30 {color:rgb(255,255,075);}
.yellow-l-40 {color:rgb(255,255,100);}
.yellow-l-50 {color:rgb(255,255,125);}
.yellow-l-60 {color:rgb(255,255,150);}
.yellow-l-70 {color:rgb(255,255,175);}
.yellow-l-80 {color:rgb(255,255,200);}
.yellow-l-90 {color:rgb(255,255,225);}

.orange-d-90 {color:rgb(025,010,0);}
.orange-d-80 {color:rgb(050,024,0);}
.orange-d-70 {color:rgb(075,037,0);}
.orange-d-60 {color:rgb(100,050,0);}
.orange-d-50 {color:rgb(125,063,0);}
.orange-d-40 {color:rgb(150,076,0);}
.orange-d-30 {color:rgb(175,089,0);}
.orange-d-20 {color:rgb(200,102,0);}
.orange-d-10 {color:rgb(225,115,0);}
.orange {color:rgb(255,128,0);}
.orange-l-10 {color:rgb(255,142,025);}
.orange-l-20 {color:rgb(255,156,050);}
.orange-l-30 {color:rgb(255,170,075);}
.orange-l-40 {color:rgb(255,184,100);}
.orange-l-50 {color:rgb(255,198,125);}
.orange-l-60 {color:rgb(255,212,150);}
.orange-l-70 {color:rgb(255,226,175);}
.orange-l-80 {color:rgb(255,240,200);}
.orange-l-90 {color:rgb(255,254,225);}

.green-d-90 {color:rgb(0,025,0);}
.green-d-80 {color:rgb(0,050,0);}
.green-d-70 {color:rgb(0,075,0);}
.green-d-60 {color:rgb(0,100,0);}
.green-d-50 {color:rgb(0,125,0);}
.green-d-40 {color:rgb(0,150,0);}
.green-d-30 {color:rgb(0,175,0);}
.green-d-20 {color:rgb(0,200,0);}
.green-d-10 {color:rgb(0,225,0);}
.green {color:rgb(0,255,0);}
.green-l-10 {color:rgb(025,255,025);}
.green-l-20 {color:rgb(050,255,050);}
.green-l-30 {color:rgb(075,255,075);}
.green-l-40 {color:rgb(100,255,100);}
.green-l-50 {color:rgb(125,255,125);}
.green-l-60 {color:rgb(150,255,150);}
.green-l-70 {color:rgb(175,255,175);}
.green-l-80 {color:rgb(200,255,200);}
.green-l-90 {color:rgb(225,255,225);}

.blue-d-90 {color:rgb(0,0,025);}
.blue-d-80 {color:rgb(0,0,050);}
.blue-d-70 {color:rgb(0,0,075);}
.blue-d-60 {color:rgb(0,0,100);}
.blue-d-50 {color:rgb(0,0,125);}
.blue-d-40 {color:rgb(0,0,150);}
.blue-d-30 {color:rgb(0,0,175);}
.blue-d-20 {color:rgb(0,0,200);}
.blue-d-10 {color:rgb(0,0,225);}
.blue {color:rgb(0,0,255);}
.blue-l-10 {color:rgb(025,025,255);}
.blue-l-20 {color:rgb(050,050,255);}
.blue-l-30 {color:rgb(075,075,255);}
.blue-l-40 {color:rgb(100,100,255);}
.blue-l-50 {color:rgb(125,125,255);}
.blue-l-60 {color:rgb(150,150,255);}
.blue-l-70 {color:rgb(175,175,255);}
.blue-l-80 {color:rgb(200,200,255);}
.blue-l-90 {color:rgb(225,225,255);}

.aqua-d-90 {color:rgb(0,025,025);}
.aqua-d-80 {color:rgb(0,050,050);}
.aqua-d-70 {color:rgb(0,075,075);}
.aqua-d-60 {color:rgb(0,100,100);}
.aqua-d-50 {color:rgb(0,125,125);}
.aqua-d-40 {color:rgb(0,150,150);}
.aqua-d-30 {color:rgb(0,175,175);}
.aqua-d-20 {color:rgb(0,200,200);}
.aqua-d-10 {color:rgb(0,225,225);}
.aqua {color:rgb(0,255,255);}
.aqua-l-10 {color:rgb(025,255,255);}
.aqua-l-20 {color:rgb(050,255,255);}
.aqua-l-30 {color:rgb(075,255,255);}
.aqua-l-40 {color:rgb(100,255,255);}
.aqua-l-50 {color:rgb(125,255,255);}
.aqua-l-60 {color:rgb(150,255,255);}
.aqua-l-70 {color:rgb(175,255,255);}
.aqua-l-80 {color:rgb(200,255,255);}
.aqua-l-90 {color:rgb(225,255,255);}

.pink-d-90 {color:rgb(025,0,025);}
.pink-d-80 {color:rgb(050,0,050);}
.pink-d-70 {color:rgb(075,0,075);}
.pink-d-60 {color:rgb(100,0,100);}
.pink-d-50 {color:rgb(125,0,125);}
.pink-d-40 {color:rgb(150,0,150);}
.pink-d-30 {color:rgb(175,0,175);}
.pink-d-20 {color:rgb(200,0,200);}
.pink-d-10 {color:rgb(225,0,225);}
.pink {color:rgb(255,0,255);}
.pink-l-10 {color:rgb(255,025,255);}
.pink-l-20 {color:rgb(255,050,255);}
.pink-l-30 {color:rgb(255,075,255);}
.pink-l-40 {color:rgb(255,100,255);}
.pink-l-50 {color:rgb(255,125,255);}
.pink-l-60 {color:rgb(255,150,255);}
.pink-l-70 {color:rgb(255,175,255);}
.pink-l-80 {color:rgb(255,200,255);}
.pink-l-90 {color:rgb(255,225,255);}

.black {color:rgb(000,000,000);}
.gray-d-90 {color:rgb(011,011,011);}
.gray-d-80 {color:rgb(024,024,024);}
.gray-d-70 {color:rgb(037,037,037);}
.gray-d-60 {color:rgb(050,050,050);}
.gray-d-50 {color:rgb(063,063,063);}
.gray-d-40 {color:rgb(076,076,076);}
.gray-d-30 {color:rgb(089,089,089);}
.gray-d-20 {color:rgb(102,102,102);}
.gray-d-10 {color:rgb(115,115,115);}
.gray {color:rgb(128,128,128);}
.gray-l-10 {color:rgb(141,141,141);}
.gray-l-20 {color:rgb(154,154,154);}
.gray-l-30 {color:rgb(167,167,167);}
.gray-l-40 {color:rgb(180,180,180);}
.gray-l-50 {color:rgb(193,193,193);}
.gray-l-60 {color:rgb(206,206,206);}
.gray-l-70 {color:rgb(219,219,219);}
.gray-l-80 {color:rgb(232,232,232);}
.gray-l-90 {color:rgb(245,245,245);}

