.f-2{font-size:2px;}
.f-4{font-size:4px;}
.f-6{font-size:6px;}
.f-8{font-size:8px;}
.f-10{font-size:10px;}
.f-12{font-size:12px;}
.f-14{font-size:14px;}
.f-16{font-size:16px;}
.f-18{font-size:18px;}
.f-20{font-size:20px;}
.f-22{font-size:22px;}
.f-24{font-size:24px;}
.f-26{font-size:26px;}
.f-28{font-size:28px;}
.f-30{font-size:30px;}
.f-32{font-size:32px;}
.f-34{font-size:34px;}
.f-36{font-size:36px;}
.f-38{font-size:38px;}
.f-40{font-size:40px;}
.f-42{font-size:42px;}
.f-44{font-size:44px;}
.f-46{font-size:46px;}
.f-48{font-size:48px;}
.f-50{font-size:50px;}
.f-52{font-size:52px;}
.f-54{font-size:54px;}
.f-56{font-size:56px;}
.f-58{font-size:58px;}
.f-60{font-size:60px;}
.f-62{font-size:62px;}
.f-64{font-size:64px;}
.f-66{font-size:66px;}
.f-68{font-size:68px;}
.f-70{font-size:70px;}
.f-72{font-size:72px;}
.f-74{font-size:74px;}
.f-76{font-size:76px;}
.f-78{font-size:78px;}
.f-80{font-size:80px;}
.f-82{font-size:82px;}
.f-84{font-size:84px;}
.f-86{font-size:86px;}
.f-88{font-size:88px;}
.f-90{font-size:90px;}
.f-92{font-size:92px;}
.f-94{font-size:94px;}
.f-96{font-size:96px;}
.f-98{font-size:98px;}
.f-100{font-size:100px;}
.f-102{font-size:102px;}
.f-104{font-size:104px;}
.f-106{font-size:106px;}
.f-108{font-size:108px;}
.f-110{font-size:110px;}
.f-112{font-size:112px;}
.f-114{font-size:114px;}
.f-116{font-size:116px;}
.f-118{font-size:118px;}
.f-120{font-size:120px;}
.f-122{font-size:122px;}
.f-124{font-size:124px;}
.f-126{font-size:126px;}
.f-128{font-size:128px;}
.f-130{font-size:130px;}
.f-132{font-size:132px;}
.f-134{font-size:134px;}
.f-136{font-size:136px;}
.f-138{font-size:138px;}
.f-140{font-size:140px;}
.f-142{font-size:142px;}
.f-144{font-size:144px;}
.f-146{font-size:146px;}
.f-148{font-size:148px;}
.f-150{font-size:150px;}
.f-152{font-size:152px;}
.f-154{font-size:154px;}
.f-156{font-size:156px;}
.f-158{font-size:158px;}
.f-160{font-size:160px;}
.f-162{font-size:162px;}
.f-164{font-size:164px;}
.f-166{font-size:166px;}
.f-168{font-size:168px;}
.f-170{font-size:170px;}
.f-172{font-size:172px;}
.f-174{font-size:174px;}
.f-176{font-size:176px;}
.f-178{font-size:178px;}
.f-180{font-size:180px;}
.f-182{font-size:182px;}
.f-184{font-size:184px;}
.f-186{font-size:186px;}
.f-188{font-size:188px;}
.f-190{font-size:190px;}
.f-192{font-size:192px;}
.f-194{font-size:194px;}
.f-196{font-size:196px;}
.f-198{font-size:198px;}
.f-200{font-size:200px;}
.f-202{font-size:202px;}
.f-204{font-size:204px;}
.f-206{font-size:206px;}
.f-208{font-size:208px;}
.f-210{font-size:210px;}
.f-212{font-size:212px;}
.f-214{font-size:214px;}
.f-216{font-size:216px;}
.f-218{font-size:218px;}
.f-220{font-size:220px;}
.f-222{font-size:222px;}
.f-224{font-size:224px;}
.f-226{font-size:226px;}
.f-228{font-size:228px;}
.f-230{font-size:230px;}
.f-232{font-size:232px;}
.f-234{font-size:234px;}
.f-236{font-size:236px;}
.f-238{font-size:238px;}
.f-240{font-size:240px;}
.f-242{font-size:242px;}
.f-244{font-size:244px;}
.f-246{font-size:246px;}
.f-248{font-size:248px;}
.f-250{font-size:250px;}
.f-252{font-size:252px;}
.f-254{font-size:254px;}
.f-256{font-size:256px;}
.f-258{font-size:258px;}
.f-260{font-size:260px;}
.f-262{font-size:262px;}
.f-264{font-size:264px;}
.f-266{font-size:266px;}
.f-268{font-size:268px;}
.f-270{font-size:270px;}
.f-272{font-size:272px;}
.f-274{font-size:274px;}
.f-276{font-size:276px;}
.f-278{font-size:278px;}
.f-280{font-size:280px;}
.f-282{font-size:282px;}
.f-284{font-size:284px;}
.f-286{font-size:286px;}
.f-288{font-size:288px;}
.f-290{font-size:290px;}
.f-292{font-size:292px;}
.f-294{font-size:294px;}
.f-296{font-size:296px;}
.f-298{font-size:298px;}
.f-300{font-size:300px;}
.f-302{font-size:302px;}
.f-304{font-size:304px;}
.f-306{font-size:306px;}
.f-308{font-size:308px;}
.f-310{font-size:310px;}
.f-312{font-size:312px;}
.f-314{font-size:314px;}
.f-316{font-size:316px;}
.f-318{font-size:318px;}
.f-320{font-size:320px;}
.f-322{font-size:322px;}
.f-324{font-size:324px;}
.f-326{font-size:326px;}
.f-328{font-size:328px;}
.f-330{font-size:330px;}
.f-332{font-size:332px;}
.f-334{font-size:334px;}
.f-336{font-size:336px;}
.f-338{font-size:338px;}
.f-340{font-size:340px;}
.f-342{font-size:342px;}
.f-344{font-size:344px;}
.f-346{font-size:346px;}
.f-348{font-size:348px;}
.f-350{font-size:350px;}
.f-352{font-size:352px;}
.f-354{font-size:354px;}
.f-356{font-size:356px;}
.f-358{font-size:358px;}
.f-360{font-size:360px;}
.f-362{font-size:362px;}
.f-364{font-size:364px;}
.f-366{font-size:366px;}
.f-368{font-size:368px;}
.f-370{font-size:370px;}
.f-372{font-size:372px;}
.f-374{font-size:374px;}
.f-376{font-size:376px;}
.f-378{font-size:378px;}
.f-380{font-size:380px;}
.f-382{font-size:382px;}
.f-384{font-size:384px;}
.f-386{font-size:386px;}
.f-388{font-size:388px;}
.f-390{font-size:390px;}
.f-392{font-size:392px;}
.f-394{font-size:394px;}
.f-396{font-size:396px;}
.f-398{font-size:398px;}
.f-400{font-size:400px;}
.f-402{font-size:402px;}
.f-404{font-size:404px;}
.f-406{font-size:406px;}
.f-408{font-size:408px;}
.f-410{font-size:410px;}
.f-412{font-size:412px;}
.f-414{font-size:414px;}
.f-416{font-size:416px;}
.f-418{font-size:418px;}
.f-420{font-size:420px;}
.f-422{font-size:422px;}
.f-424{font-size:424px;}
.f-426{font-size:426px;}
.f-428{font-size:428px;}
.f-430{font-size:430px;}
.f-432{font-size:432px;}
.f-434{font-size:434px;}
.f-436{font-size:436px;}
.f-438{font-size:438px;}
.f-440{font-size:440px;}
.f-442{font-size:442px;}
.f-444{font-size:444px;}
.f-446{font-size:446px;}
.f-448{font-size:448px;}
.f-450{font-size:450px;}
.f-452{font-size:452px;}
.f-454{font-size:454px;}
.f-456{font-size:456px;}
.f-458{font-size:458px;}
.f-460{font-size:460px;}
.f-462{font-size:462px;}
.f-464{font-size:464px;}
.f-466{font-size:466px;}
.f-468{font-size:468px;}
.f-470{font-size:470px;}
.f-472{font-size:472px;}
.f-474{font-size:474px;}
.f-476{font-size:476px;}
.f-478{font-size:478px;}
.f-480{font-size:480px;}
.f-482{font-size:482px;}
.f-484{font-size:484px;}
.f-486{font-size:486px;}
.f-488{font-size:488px;}
.f-490{font-size:490px;}
.f-492{font-size:492px;}
.f-494{font-size:494px;}
.f-496{font-size:496px;}
.f-498{font-size:498px;}
.f-500{font-size:500px;}

.f-5pc{font-size:5%;}
.f-10pc{font-size:10%;}
.f-15pc{font-size:15%;}
.f-20pc{font-size:20%;}
.f-25pc{font-size:25%;}
.f-30pc{font-size:30%;}
.f-35pc{font-size:35%;}
.f-40pc{font-size:40%;}
.f-45pc{font-size:45%;}
.f-50pc{font-size:50%;}
.f-55pc{font-size:55%;}
.f-60pc{font-size:60%;}
.f-65pc{font-size:65%;}
.f-70pc{font-size:70%;}
.f-75pc{font-size:75%;}
.f-80pc{font-size:80%;}
.f-85pc{font-size:85%;}
.f-90pc{font-size:90%;}
.f-95pc{font-size:95%;}
.f-100pc{font-size:100%;}

.f-1vw{font-size:1vw;}
.f-2vw{font-size:2vw;}
.f-3vw{font-size:3vw;}
.f-4vw{font-size:4vw;}
.f-5vw{font-size:5vw;}
.f-6vw{font-size:6vw;}
.f-7vw{font-size:7vw;}
.f-8vw{font-size:8vw;}
.f-9vw{font-size:9vw;}
.f-10vw{font-size:10vw;}
.f-11vw{font-size:11vw;}
.f-12vw{font-size:12vw;}
.f-13vw{font-size:13vw;}
.f-14vw{font-size:14vw;}
.f-15vw{font-size:15vw;}
.f-16vw{font-size:16vw;}
.f-17vw{font-size:17vw;}
.f-18vw{font-size:18vw;}
.f-19vw{font-size:19vw;}
.f-20vw{font-size:20vw;}
.f-21vw{font-size:21vw;}
.f-22vw{font-size:22vw;}
.f-23vw{font-size:23vw;}
.f-24vw{font-size:24vw;}
.f-25vw{font-size:25vw;}
.f-26vw{font-size:26vw;}
.f-27vw{font-size:27vw;}
.f-28vw{font-size:28vw;}
.f-29vw{font-size:29vw;}
.f-30vw{font-size:30vw;}
.f-31vw{font-size:31vw;}
.f-32vw{font-size:32vw;}
.f-33vw{font-size:33vw;}
.f-34vw{font-size:34vw;}
.f-35vw{font-size:35vw;}
.f-36vw{font-size:36vw;}
.f-37vw{font-size:37vw;}
.f-38vw{font-size:38vw;}
.f-39vw{font-size:39vw;}
.f-40vw{font-size:40vw;}
.f-41vw{font-size:41vw;}
.f-42vw{font-size:42vw;}
.f-43vw{font-size:43vw;}
.f-44vw{font-size:44vw;}
.f-45vw{font-size:45vw;}
.f-46vw{font-size:46vw;}
.f-47vw{font-size:47vw;}
.f-48vw{font-size:48vw;}
.f-49vw{font-size:49vw;}
.f-50vw{font-size:50vw;}
.f-51vw{font-size:51vw;}
.f-52vw{font-size:52vw;}
.f-53vw{font-size:53vw;}
.f-54vw{font-size:54vw;}
.f-55vw{font-size:55vw;}
.f-56vw{font-size:56vw;}
.f-57vw{font-size:57vw;}
.f-58vw{font-size:58vw;}
.f-59vw{font-size:59vw;}
.f-60vw{font-size:60vw;}
.f-61vw{font-size:61vw;}
.f-62vw{font-size:62vw;}
.f-63vw{font-size:63vw;}
.f-64vw{font-size:64vw;}
.f-65vw{font-size:65vw;}
.f-66vw{font-size:66vw;}
.f-67vw{font-size:67vw;}
.f-68vw{font-size:68vw;}
.f-69vw{font-size:69vw;}
.f-70vw{font-size:70vw;}
.f-71vw{font-size:71vw;}
.f-72vw{font-size:72vw;}
.f-73vw{font-size:73vw;}
.f-74vw{font-size:74vw;}
.f-75vw{font-size:75vw;}
.f-76vw{font-size:76vw;}
.f-77vw{font-size:77vw;}
.f-78vw{font-size:78vw;}
.f-79vw{font-size:79vw;}
.f-80vw{font-size:80vw;}
.f-81vw{font-size:81vw;}
.f-82vw{font-size:82vw;}
.f-83vw{font-size:83vw;}
.f-84vw{font-size:84vw;}
.f-85vw{font-size:85vw;}
.f-86vw{font-size:86vw;}
.f-87vw{font-size:87vw;}
.f-88vw{font-size:88vw;}
.f-89vw{font-size:89vw;}
.f-90vw{font-size:90vw;}
.f-91vw{font-size:91vw;}
.f-92vw{font-size:92vw;}
.f-93vw{font-size:93vw;}
.f-94vw{font-size:94vw;}
.f-95vw{font-size:95vw;}
.f-96vw{font-size:96vw;}
.f-97vw{font-size:97vw;}
.f-98vw{font-size:98vw;}
.f-99vw{font-size:99vw;}
.f-100vw{font-size:100vw;}



