@font-face {
  font-family: Helvetica;
  src: url(./../fonts/HelveticaLTStd-Light.otf);
}

@import url("partials/templatexs.scss") (max-width:415px);
@import url("partials/templatesm.scss") (min-width:416px);
@import url("partials/templatemd.scss") (min-width:768px);
@import url("partials/templatelg.scss") (min-width:1024px);
@import url("partials/templatexl.scss") (min-width:1366px);
@import url("partials/templatexx.scss") (min-width:1920px);


*{
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
}

.grid{
  display: grid;
}

.logo {
  grid-area: logo;
}
.nav{
  grid-area: nav;
}
.content {
	grid-area: content;
}
.footer {
	grid-area: footer;
}


.item1{
  background-color: rosybrown;
}
.item2{
  background-color: rgb(168, 36, 36);
}
.item3{
  background-color: rgb(50, 70, 156);
}
.item4{
  background-color: rgb(44, 26, 26);
}






