@media (min-width: 992px) {
.p-lg-auto{padding:auto;}
.p-lg-0{padding:0;}
.p-lg-1{padding:1px;}
.p-lg-2{padding:2px;}
.p-lg-3{padding:3px;}
.p-lg-4{padding:4px;}
.p-lg-5{padding:5px;}
.p-lg-6{padding:6px;}
.p-lg-7{padding:7px;}
.p-lg-8{padding:8px;}
.p-lg-9{padding:9px;}
.p-lg-10{padding:10px;}
.p-lg-11{padding:11px;}
.p-lg-12{padding:12px;}
.p-lg-13{padding:13px;}
.p-lg-14{padding:14px;}
.p-lg-15{padding:15px;}
.p-lg-16{padding:16px;}
.p-lg-17{padding:17px;}
.p-lg-18{padding:18px;}
.p-lg-19{padding:19px;}
.p-lg-20{padding:20px;}
.p-lg-21{padding:21px;}
.p-lg-22{padding:22px;}
.p-lg-23{padding:23px;}
.p-lg-24{padding:24px;}
.p-lg-25{padding:25px;}
.p-lg-26{padding:26px;}
.p-lg-27{padding:27px;}
.p-lg-28{padding:28px;}
.p-lg-29{padding:29px;}
.p-lg-30{padding:30px;}
.p-lg-31{padding:31px;}
.p-lg-32{padding:32px;}
.p-lg-33{padding:33px;}
.p-lg-34{padding:34px;}
.p-lg-35{padding:35px;}
.p-lg-36{padding:36px;}
.p-lg-37{padding:37px;}
.p-lg-38{padding:38px;}
.p-lg-39{padding:39px;}
.p-lg-40{padding:40px;}
.p-lg-41{padding:41px;}
.p-lg-42{padding:42px;}
.p-lg-43{padding:43px;}
.p-lg-44{padding:44px;}
.p-lg-45{padding:45px;}
.p-lg-46{padding:46px;}
.p-lg-47{padding:47px;}
.p-lg-48{padding:48px;}
.p-lg-49{padding:49px;}
.p-lg-50{padding:50px;}
.p-lg-51{padding:51px;}
.p-lg-52{padding:52px;}
.p-lg-53{padding:53px;}
.p-lg-54{padding:54px;}
.p-lg-55{padding:55px;}
.p-lg-56{padding:56px;}
.p-lg-57{padding:57px;}
.p-lg-58{padding:58px;}
.p-lg-59{padding:59px;}
.p-lg-60{padding:60px;}
.p-lg-61{padding:61px;}
.p-lg-62{padding:62px;}
.p-lg-63{padding:63px;}
.p-lg-64{padding:64px;}
.p-lg-65{padding:65px;}
.p-lg-66{padding:66px;}
.p-lg-67{padding:67px;}
.p-lg-68{padding:68px;}
.p-lg-69{padding:69px;}
.p-lg-70{padding:70px;}
.p-lg-71{padding:71px;}
.p-lg-72{padding:72px;}
.p-lg-73{padding:73px;}
.p-lg-74{padding:74px;}
.p-lg-75{padding:75px;}
.p-lg-76{padding:76px;}
.p-lg-77{padding:77px;}
.p-lg-78{padding:78px;}
.p-lg-79{padding:79px;}
.p-lg-80{padding:80px;}
.p-lg-81{padding:81px;}
.p-lg-82{padding:82px;}
.p-lg-83{padding:83px;}
.p-lg-84{padding:84px;}
.p-lg-85{padding:85px;}
.p-lg-86{padding:86px;}
.p-lg-87{padding:87px;}
.p-lg-88{padding:88px;}
.p-lg-89{padding:89px;}
.p-lg-90{padding:90px;}
.p-lg-91{padding:91px;}
.p-lg-92{padding:92px;}
.p-lg-93{padding:93px;}
.p-lg-94{padding:94px;}
.p-lg-95{padding:95px;}
.p-lg-96{padding:96px;}
.p-lg-97{padding:97px;}
.p-lg-98{padding:98px;}
.p-lg-99{padding:99px;}
.p-lg-100{padding:100px;}
.pt-lg-auto{padding-top:auto;}
.pt-lg-0{padding-top:0;}
.pt-lg-1{padding-top:1px;}
.pt-lg-2{padding-top:2px;}
.pt-lg-3{padding-top:3px;}
.pt-lg-4{padding-top:4px;}
.pt-lg-5{padding-top:5px;}
.pt-lg-6{padding-top:6px;}
.pt-lg-7{padding-top:7px;}
.pt-lg-8{padding-top:8px;}
.pt-lg-9{padding-top:9px;}
.pt-lg-10{padding-top:10px;}
.pt-lg-11{padding-top:11px;}
.pt-lg-12{padding-top:12px;}
.pt-lg-13{padding-top:13px;}
.pt-lg-14{padding-top:14px;}
.pt-lg-15{padding-top:15px;}
.pt-lg-16{padding-top:16px;}
.pt-lg-17{padding-top:17px;}
.pt-lg-18{padding-top:18px;}
.pt-lg-19{padding-top:19px;}
.pt-lg-20{padding-top:20px;}
.pt-lg-21{padding-top:21px;}
.pt-lg-22{padding-top:22px;}
.pt-lg-23{padding-top:23px;}
.pt-lg-24{padding-top:24px;}
.pt-lg-25{padding-top:25px;}
.pt-lg-26{padding-top:26px;}
.pt-lg-27{padding-top:27px;}
.pt-lg-28{padding-top:28px;}
.pt-lg-29{padding-top:29px;}
.pt-lg-30{padding-top:30px;}
.pt-lg-31{padding-top:31px;}
.pt-lg-32{padding-top:32px;}
.pt-lg-33{padding-top:33px;}
.pt-lg-34{padding-top:34px;}
.pt-lg-35{padding-top:35px;}
.pt-lg-36{padding-top:36px;}
.pt-lg-37{padding-top:37px;}
.pt-lg-38{padding-top:38px;}
.pt-lg-39{padding-top:39px;}
.pt-lg-40{padding-top:40px;}
.pt-lg-41{padding-top:41px;}
.pt-lg-42{padding-top:42px;}
.pt-lg-43{padding-top:43px;}
.pt-lg-44{padding-top:44px;}
.pt-lg-45{padding-top:45px;}
.pt-lg-46{padding-top:46px;}
.pt-lg-47{padding-top:47px;}
.pt-lg-48{padding-top:48px;}
.pt-lg-49{padding-top:49px;}
.pt-lg-50{padding-top:50px;}
.pt-lg-51{padding-top:51px;}
.pt-lg-52{padding-top:52px;}
.pt-lg-53{padding-top:53px;}
.pt-lg-54{padding-top:54px;}
.pt-lg-55{padding-top:55px;}
.pt-lg-56{padding-top:56px;}
.pt-lg-57{padding-top:57px;}
.pt-lg-58{padding-top:58px;}
.pt-lg-59{padding-top:59px;}
.pt-lg-60{padding-top:60px;}
.pt-lg-61{padding-top:61px;}
.pt-lg-62{padding-top:62px;}
.pt-lg-63{padding-top:63px;}
.pt-lg-64{padding-top:64px;}
.pt-lg-65{padding-top:65px;}
.pt-lg-66{padding-top:66px;}
.pt-lg-67{padding-top:67px;}
.pt-lg-68{padding-top:68px;}
.pt-lg-69{padding-top:69px;}
.pt-lg-70{padding-top:70px;}
.pt-lg-71{padding-top:71px;}
.pt-lg-72{padding-top:72px;}
.pt-lg-73{padding-top:73px;}
.pt-lg-74{padding-top:74px;}
.pt-lg-75{padding-top:75px;}
.pt-lg-76{padding-top:76px;}
.pt-lg-77{padding-top:77px;}
.pt-lg-78{padding-top:78px;}
.pt-lg-79{padding-top:79px;}
.pt-lg-80{padding-top:80px;}
.pt-lg-81{padding-top:81px;}
.pt-lg-82{padding-top:82px;}
.pt-lg-83{padding-top:83px;}
.pt-lg-84{padding-top:84px;}
.pt-lg-85{padding-top:85px;}
.pt-lg-86{padding-top:86px;}
.pt-lg-87{padding-top:87px;}
.pt-lg-88{padding-top:88px;}
.pt-lg-89{padding-top:89px;}
.pt-lg-90{padding-top:90px;}
.pt-lg-91{padding-top:91px;}
.pt-lg-92{padding-top:92px;}
.pt-lg-93{padding-top:93px;}
.pt-lg-94{padding-top:94px;}
.pt-lg-95{padding-top:95px;}
.pt-lg-96{padding-top:96px;}
.pt-lg-97{padding-top:97px;}
.pt-lg-98{padding-top:98px;}
.pt-lg-99{padding-top:99px;}
.pt-lg-100{padding-top:100px;}
.pl-lg-auto{padding-left:auto;}
.pl-lg-1{padding-left:0;}
.pl-lg-1{padding-left:1px;}
.pl-lg-2{padding-left:2px;}
.pl-lg-3{padding-left:3px;}
.pl-lg-4{padding-left:4px;}
.pl-lg-5{padding-left:5px;}
.pl-lg-6{padding-left:6px;}
.pl-lg-7{padding-left:7px;}
.pl-lg-8{padding-left:8px;}
.pl-lg-9{padding-left:9px;}
.pl-lg-10{padding-left:10px;}
.pl-lg-11{padding-left:11px;}
.pl-lg-12{padding-left:12px;}
.pl-lg-13{padding-left:13px;}
.pl-lg-14{padding-left:14px;}
.pl-lg-15{padding-left:15px;}
.pl-lg-16{padding-left:16px;}
.pl-lg-17{padding-left:17px;}
.pl-lg-18{padding-left:18px;}
.pl-lg-19{padding-left:19px;}
.pl-lg-20{padding-left:20px;}
.pl-lg-21{padding-left:21px;}
.pl-lg-22{padding-left:22px;}
.pl-lg-23{padding-left:23px;}
.pl-lg-24{padding-left:24px;}
.pl-lg-25{padding-left:25px;}
.pl-lg-26{padding-left:26px;}
.pl-lg-27{padding-left:27px;}
.pl-lg-28{padding-left:28px;}
.pl-lg-29{padding-left:29px;}
.pl-lg-30{padding-left:30px;}
.pl-lg-31{padding-left:31px;}
.pl-lg-32{padding-left:32px;}
.pl-lg-33{padding-left:33px;}
.pl-lg-34{padding-left:34px;}
.pl-lg-35{padding-left:35px;}
.pl-lg-36{padding-left:36px;}
.pl-lg-37{padding-left:37px;}
.pl-lg-38{padding-left:38px;}
.pl-lg-39{padding-left:39px;}
.pl-lg-40{padding-left:40px;}
.pl-lg-41{padding-left:41px;}
.pl-lg-42{padding-left:42px;}
.pl-lg-43{padding-left:43px;}
.pl-lg-44{padding-left:44px;}
.pl-lg-45{padding-left:45px;}
.pl-lg-46{padding-left:46px;}
.pl-lg-47{padding-left:47px;}
.pl-lg-48{padding-left:48px;}
.pl-lg-49{padding-left:49px;}
.pl-lg-50{padding-left:50px;}
.pl-lg-51{padding-left:51px;}
.pl-lg-52{padding-left:52px;}
.pl-lg-53{padding-left:53px;}
.pl-lg-54{padding-left:54px;}
.pl-lg-55{padding-left:55px;}
.pl-lg-56{padding-left:56px;}
.pl-lg-57{padding-left:57px;}
.pl-lg-58{padding-left:58px;}
.pl-lg-59{padding-left:59px;}
.pl-lg-60{padding-left:60px;}
.pl-lg-61{padding-left:61px;}
.pl-lg-62{padding-left:62px;}
.pl-lg-63{padding-left:63px;}
.pl-lg-64{padding-left:64px;}
.pl-lg-65{padding-left:65px;}
.pl-lg-66{padding-left:66px;}
.pl-lg-67{padding-left:67px;}
.pl-lg-68{padding-left:68px;}
.pl-lg-69{padding-left:69px;}
.pl-lg-70{padding-left:70px;}
.pl-lg-71{padding-left:71px;}
.pl-lg-72{padding-left:72px;}
.pl-lg-73{padding-left:73px;}
.pl-lg-74{padding-left:74px;}
.pl-lg-75{padding-left:75px;}
.pl-lg-76{padding-left:76px;}
.pl-lg-77{padding-left:77px;}
.pl-lg-78{padding-left:78px;}
.pl-lg-79{padding-left:79px;}
.pl-lg-80{padding-left:80px;}
.pl-lg-81{padding-left:81px;}
.pl-lg-82{padding-left:82px;}
.pl-lg-83{padding-left:83px;}
.pl-lg-84{padding-left:84px;}
.pl-lg-85{padding-left:85px;}
.pl-lg-86{padding-left:86px;}
.pl-lg-87{padding-left:87px;}
.pl-lg-88{padding-left:88px;}
.pl-lg-89{padding-left:89px;}
.pl-lg-90{padding-left:90px;}
.pl-lg-91{padding-left:91px;}
.pl-lg-92{padding-left:92px;}
.pl-lg-93{padding-left:93px;}
.pl-lg-94{padding-left:94px;}
.pl-lg-95{padding-left:95px;}
.pl-lg-96{padding-left:96px;}
.pl-lg-97{padding-left:97px;}
.pl-lg-98{padding-left:98px;}
.pl-lg-99{padding-left:99px;}
.pl-lg-100{padding-left:100px;}
.pb-lg-auto{padding-bottom:auto;}
.pb-lg-0{padding-bottom:0;}
.pb-lg-1{padding-bottom:1px;}
.pb-lg-2{padding-bottom:2px;}
.pb-lg-3{padding-bottom:3px;}
.pb-lg-4{padding-bottom:4px;}
.pb-lg-5{padding-bottom:5px;}
.pb-lg-6{padding-bottom:6px;}
.pb-lg-7{padding-bottom:7px;}
.pb-lg-8{padding-bottom:8px;}
.pb-lg-9{padding-bottom:9px;}
.pb-lg-10{padding-bottom:10px;}
.pb-lg-11{padding-bottom:11px;}
.pb-lg-12{padding-bottom:12px;}
.pb-lg-13{padding-bottom:13px;}
.pb-lg-14{padding-bottom:14px;}
.pb-lg-15{padding-bottom:15px;}
.pb-lg-16{padding-bottom:16px;}
.pb-lg-17{padding-bottom:17px;}
.pb-lg-18{padding-bottom:18px;}
.pb-lg-19{padding-bottom:19px;}
.pb-lg-20{padding-bottom:20px;}
.pb-lg-21{padding-bottom:21px;}
.pb-lg-22{padding-bottom:22px;}
.pb-lg-23{padding-bottom:23px;}
.pb-lg-24{padding-bottom:24px;}
.pb-lg-25{padding-bottom:25px;}
.pb-lg-26{padding-bottom:26px;}
.pb-lg-27{padding-bottom:27px;}
.pb-lg-28{padding-bottom:28px;}
.pb-lg-29{padding-bottom:29px;}
.pb-lg-30{padding-bottom:30px;}
.pb-lg-31{padding-bottom:31px;}
.pb-lg-32{padding-bottom:32px;}
.pb-lg-33{padding-bottom:33px;}
.pb-lg-34{padding-bottom:34px;}
.pb-lg-35{padding-bottom:35px;}
.pb-lg-36{padding-bottom:36px;}
.pb-lg-37{padding-bottom:37px;}
.pb-lg-38{padding-bottom:38px;}
.pb-lg-39{padding-bottom:39px;}
.pb-lg-40{padding-bottom:40px;}
.pb-lg-41{padding-bottom:41px;}
.pb-lg-42{padding-bottom:42px;}
.pb-lg-43{padding-bottom:43px;}
.pb-lg-44{padding-bottom:44px;}
.pb-lg-45{padding-bottom:45px;}
.pb-lg-46{padding-bottom:46px;}
.pb-lg-47{padding-bottom:47px;}
.pb-lg-48{padding-bottom:48px;}
.pb-lg-49{padding-bottom:49px;}
.pb-lg-50{padding-bottom:50px;}
.pb-lg-51{padding-bottom:51px;}
.pb-lg-52{padding-bottom:52px;}
.pb-lg-53{padding-bottom:53px;}
.pb-lg-54{padding-bottom:54px;}
.pb-lg-55{padding-bottom:55px;}
.pb-lg-56{padding-bottom:56px;}
.pb-lg-57{padding-bottom:57px;}
.pb-lg-58{padding-bottom:58px;}
.pb-lg-59{padding-bottom:59px;}
.pb-lg-60{padding-bottom:60px;}
.pb-lg-61{padding-bottom:61px;}
.pb-lg-62{padding-bottom:62px;}
.pb-lg-63{padding-bottom:63px;}
.pb-lg-64{padding-bottom:64px;}
.pb-lg-65{padding-bottom:65px;}
.pb-lg-66{padding-bottom:66px;}
.pb-lg-67{padding-bottom:67px;}
.pb-lg-68{padding-bottom:68px;}
.pb-lg-69{padding-bottom:69px;}
.pb-lg-70{padding-bottom:70px;}
.pb-lg-71{padding-bottom:71px;}
.pb-lg-72{padding-bottom:72px;}
.pb-lg-73{padding-bottom:73px;}
.pb-lg-74{padding-bottom:74px;}
.pb-lg-75{padding-bottom:75px;}
.pb-lg-76{padding-bottom:76px;}
.pb-lg-77{padding-bottom:77px;}
.pb-lg-78{padding-bottom:78px;}
.pb-lg-79{padding-bottom:79px;}
.pb-lg-80{padding-bottom:80px;}
.pb-lg-81{padding-bottom:81px;}
.pb-lg-82{padding-bottom:82px;}
.pb-lg-83{padding-bottom:83px;}
.pb-lg-84{padding-bottom:84px;}
.pb-lg-85{padding-bottom:85px;}
.pb-lg-86{padding-bottom:86px;}
.pb-lg-87{padding-bottom:87px;}
.pb-lg-88{padding-bottom:88px;}
.pb-lg-89{padding-bottom:89px;}
.pb-lg-90{padding-bottom:90px;}
.pb-lg-91{padding-bottom:91px;}
.pb-lg-92{padding-bottom:92px;}
.pb-lg-93{padding-bottom:93px;}
.pb-lg-94{padding-bottom:94px;}
.pb-lg-95{padding-bottom:95px;}
.pb-lg-96{padding-bottom:96px;}
.pb-lg-97{padding-bottom:97px;}
.pb-lg-98{padding-bottom:98px;}
.pb-lg-99{padding-bottom:99px;}
.pb-lg-100{padding-bottom:100px;}
.pr-lg-auto{padding-right:auto;}
.pr-lg-0{padding-right:0;}
.pr-lg-1{padding-right:1px;}
.pr-lg-2{padding-right:2px;}
.pr-lg-3{padding-right:3px;}
.pr-lg-4{padding-right:4px;}
.pr-lg-5{padding-right:5px;}
.pr-lg-6{padding-right:6px;}
.pr-lg-7{padding-right:7px;}
.pr-lg-8{padding-right:8px;}
.pr-lg-9{padding-right:9px;}
.pr-lg-10{padding-right:10px;}
.pr-lg-11{padding-right:11px;}
.pr-lg-12{padding-right:12px;}
.pr-lg-13{padding-right:13px;}
.pr-lg-14{padding-right:14px;}
.pr-lg-15{padding-right:15px;}
.pr-lg-16{padding-right:16px;}
.pr-lg-17{padding-right:17px;}
.pr-lg-18{padding-right:18px;}
.pr-lg-19{padding-right:19px;}
.pr-lg-20{padding-right:20px;}
.pr-lg-21{padding-right:21px;}
.pr-lg-22{padding-right:22px;}
.pr-lg-23{padding-right:23px;}
.pr-lg-24{padding-right:24px;}
.pr-lg-25{padding-right:25px;}
.pr-lg-26{padding-right:26px;}
.pr-lg-27{padding-right:27px;}
.pr-lg-28{padding-right:28px;}
.pr-lg-29{padding-right:29px;}
.pr-lg-30{padding-right:30px;}
.pr-lg-31{padding-right:31px;}
.pr-lg-32{padding-right:32px;}
.pr-lg-33{padding-right:33px;}
.pr-lg-34{padding-right:34px;}
.pr-lg-35{padding-right:35px;}
.pr-lg-36{padding-right:36px;}
.pr-lg-37{padding-right:37px;}
.pr-lg-38{padding-right:38px;}
.pr-lg-39{padding-right:39px;}
.pr-lg-40{padding-right:40px;}
.pr-lg-41{padding-right:41px;}
.pr-lg-42{padding-right:42px;}
.pr-lg-43{padding-right:43px;}
.pr-lg-44{padding-right:44px;}
.pr-lg-45{padding-right:45px;}
.pr-lg-46{padding-right:46px;}
.pr-lg-47{padding-right:47px;}
.pr-lg-48{padding-right:48px;}
.pr-lg-49{padding-right:49px;}
.pr-lg-50{padding-right:50px;}
.pr-lg-51{padding-right:51px;}
.pr-lg-52{padding-right:52px;}
.pr-lg-53{padding-right:53px;}
.pr-lg-54{padding-right:54px;}
.pr-lg-55{padding-right:55px;}
.pr-lg-56{padding-right:56px;}
.pr-lg-57{padding-right:57px;}
.pr-lg-58{padding-right:58px;}
.pr-lg-59{padding-right:59px;}
.pr-lg-60{padding-right:60px;}
.pr-lg-61{padding-right:61px;}
.pr-lg-62{padding-right:62px;}
.pr-lg-63{padding-right:63px;}
.pr-lg-64{padding-right:64px;}
.pr-lg-65{padding-right:65px;}
.pr-lg-66{padding-right:66px;}
.pr-lg-67{padding-right:67px;}
.pr-lg-68{padding-right:68px;}
.pr-lg-69{padding-right:69px;}
.pr-lg-70{padding-right:70px;}
.pr-lg-71{padding-right:71px;}
.pr-lg-72{padding-right:72px;}
.pr-lg-73{padding-right:73px;}
.pr-lg-74{padding-right:74px;}
.pr-lg-75{padding-right:75px;}
.pr-lg-76{padding-right:76px;}
.pr-lg-77{padding-right:77px;}
.pr-lg-78{padding-right:78px;}
.pr-lg-79{padding-right:79px;}
.pr-lg-80{padding-right:80px;}
.pr-lg-81{padding-right:81px;}
.pr-lg-82{padding-right:82px;}
.pr-lg-83{padding-right:83px;}
.pr-lg-84{padding-right:84px;}
.pr-lg-85{padding-right:85px;}
.pr-lg-86{padding-right:86px;}
.pr-lg-87{padding-right:87px;}
.pr-lg-88{padding-right:88px;}
.pr-lg-89{padding-right:89px;}
.pr-lg-90{padding-right:90px;}
.pr-lg-91{padding-right:91px;}
.pr-lg-92{padding-right:92px;}
.pr-lg-93{padding-right:93px;}
.pr-lg-94{padding-right:94px;}
.pr-lg-95{padding-right:95px;}
.pr-lg-96{padding-right:96px;}
.pr-lg-97{padding-right:97px;}
.pr-lg-98{padding-right:98px;}
.pr-lg-99{padding-right:99px;}
.pr-lg-100{padding-right:100px;}
.py-lg-auto{padding-left:auto;padding-right:auto;}
.py-lg-0{padding-left:0;padding-right:0;}
.py-lg-1{padding-left:1px;padding-right:1px;}
.py-lg-2{padding-left:2px;padding-right:2px;}
.py-lg-3{padding-left:3px;padding-right:3px;}
.py-lg-4{padding-left:4px;padding-right:4px;}
.py-lg-5{padding-left:5px;padding-right:5px;}
.py-lg-6{padding-left:6px;padding-right:6px;}
.py-lg-7{padding-left:7px;padding-right:7px;}
.py-lg-8{padding-left:8px;padding-right:8px;}
.py-lg-9{padding-left:9px;padding-right:9px;}
.py-lg-10{padding-left:10px;padding-right:10px;}
.py-lg-11{padding-left:11px;padding-right:11px;}
.py-lg-12{padding-left:12px;padding-right:12px;}
.py-lg-13{padding-left:13px;padding-right:13px;}
.py-lg-14{padding-left:14px;padding-right:14px;}
.py-lg-15{padding-left:15px;padding-right:15px;}
.py-lg-16{padding-left:16px;padding-right:16px;}
.py-lg-17{padding-left:17px;padding-right:17px;}
.py-lg-18{padding-left:18px;padding-right:18px;}
.py-lg-19{padding-left:19px;padding-right:19px;}
.py-lg-20{padding-left:20px;padding-right:20px;}
.py-lg-21{padding-left:21px;padding-right:21px;}
.py-lg-22{padding-left:22px;padding-right:22px;}
.py-lg-23{padding-left:23px;padding-right:23px;}
.py-lg-24{padding-left:24px;padding-right:24px;}
.py-lg-25{padding-left:25px;padding-right:25px;}
.py-lg-26{padding-left:26px;padding-right:26px;}
.py-lg-27{padding-left:27px;padding-right:27px;}
.py-lg-28{padding-left:28px;padding-right:28px;}
.py-lg-29{padding-left:29px;padding-right:29px;}
.py-lg-30{padding-left:30px;padding-right:30px;}
.py-lg-31{padding-left:31px;padding-right:31px;}
.py-lg-32{padding-left:32px;padding-right:32px;}
.py-lg-33{padding-left:33px;padding-right:33px;}
.py-lg-34{padding-left:34px;padding-right:34px;}
.py-lg-35{padding-left:35px;padding-right:35px;}
.py-lg-36{padding-left:36px;padding-right:36px;}
.py-lg-37{padding-left:37px;padding-right:37px;}
.py-lg-38{padding-left:38px;padding-right:38px;}
.py-lg-39{padding-left:39px;padding-right:39px;}
.py-lg-40{padding-left:40px;padding-right:40px;}
.py-lg-41{padding-left:41px;padding-right:41px;}
.py-lg-42{padding-left:42px;padding-right:42px;}
.py-lg-43{padding-left:43px;padding-right:43px;}
.py-lg-44{padding-left:44px;padding-right:44px;}
.py-lg-45{padding-left:45px;padding-right:45px;}
.py-lg-46{padding-left:46px;padding-right:46px;}
.py-lg-47{padding-left:47px;padding-right:47px;}
.py-lg-48{padding-left:48px;padding-right:48px;}
.py-lg-49{padding-left:49px;padding-right:49px;}
.py-lg-50{padding-left:50px;padding-right:50px;}
.py-lg-51{padding-left:51px;padding-right:51px;}
.py-lg-52{padding-left:52px;padding-right:52px;}
.py-lg-53{padding-left:53px;padding-right:53px;}
.py-lg-54{padding-left:54px;padding-right:54px;}
.py-lg-55{padding-left:55px;padding-right:55px;}
.py-lg-56{padding-left:56px;padding-right:56px;}
.py-lg-57{padding-left:57px;padding-right:57px;}
.py-lg-58{padding-left:58px;padding-right:58px;}
.py-lg-59{padding-left:59px;padding-right:59px;}
.py-lg-60{padding-left:60px;padding-right:60px;}
.py-lg-61{padding-left:61px;padding-right:61px;}
.py-lg-62{padding-left:62px;padding-right:62px;}
.py-lg-63{padding-left:63px;padding-right:63px;}
.py-lg-64{padding-left:64px;padding-right:64px;}
.py-lg-65{padding-left:65px;padding-right:65px;}
.py-lg-66{padding-left:66px;padding-right:66px;}
.py-lg-67{padding-left:67px;padding-right:67px;}
.py-lg-68{padding-left:68px;padding-right:68px;}
.py-lg-69{padding-left:69px;padding-right:69px;}
.py-lg-70{padding-left:70px;padding-right:70px;}
.py-lg-71{padding-left:71px;padding-right:71px;}
.py-lg-72{padding-left:72px;padding-right:72px;}
.py-lg-73{padding-left:73px;padding-right:73px;}
.py-lg-74{padding-left:74px;padding-right:74px;}
.py-lg-75{padding-left:75px;padding-right:75px;}
.py-lg-76{padding-left:76px;padding-right:76px;}
.py-lg-77{padding-left:77px;padding-right:77px;}
.py-lg-78{padding-left:78px;padding-right:78px;}
.py-lg-79{padding-left:79px;padding-right:79px;}
.py-lg-80{padding-left:80px;padding-right:80px;}
.py-lg-81{padding-left:81px;padding-right:81px;}
.py-lg-82{padding-left:82px;padding-right:82px;}
.py-lg-83{padding-left:83px;padding-right:83px;}
.py-lg-84{padding-left:84px;padding-right:84px;}
.py-lg-85{padding-left:85px;padding-right:85px;}
.py-lg-86{padding-left:86px;padding-right:86px;}
.py-lg-87{padding-left:87px;padding-right:87px;}
.py-lg-88{padding-left:88px;padding-right:88px;}
.py-lg-89{padding-left:89px;padding-right:89px;}
.py-lg-90{padding-left:90px;padding-right:90px;}
.py-lg-91{padding-left:91px;padding-right:91px;}
.py-lg-92{padding-left:92px;padding-right:92px;}
.py-lg-93{padding-left:93px;padding-right:93px;}
.py-lg-94{padding-left:94px;padding-right:94px;}
.py-lg-95{padding-left:95px;padding-right:95px;}
.py-lg-96{padding-left:96px;padding-right:96px;}
.py-lg-97{padding-left:97px;padding-right:97px;}
.py-lg-98{padding-left:98px;padding-right:98px;}
.py-lg-99{padding-left:99px;padding-right:99px;}
.py-lg-100{padding-left:100px;padding-right:100px;}
.px-lg-auto{padding-top:auto;padding-bottom:auto;}
.px-lg-0{padding-top:0;padding-bottom:0;}
.px-lg-1{padding-top:1px;padding-bottom:1px;}
.px-lg-2{padding-top:2px;padding-bottom:2px;}
.px-lg-3{padding-top:3px;padding-bottom:3px;}
.px-lg-4{padding-top:4px;padding-bottom:4px;}
.px-lg-5{padding-top:5px;padding-bottom:5px;}
.px-lg-6{padding-top:6px;padding-bottom:6px;}
.px-lg-7{padding-top:7px;padding-bottom:7px;}
.px-lg-8{padding-top:8px;padding-bottom:8px;}
.px-lg-9{padding-top:9px;padding-bottom:9px;}
.px-lg-10{padding-top:10px;padding-bottom:10px;}
.px-lg-11{padding-top:11px;padding-bottom:11px;}
.px-lg-12{padding-top:12px;padding-bottom:12px;}
.px-lg-13{padding-top:13px;padding-bottom:13px;}
.px-lg-14{padding-top:14px;padding-bottom:14px;}
.px-lg-15{padding-top:15px;padding-bottom:15px;}
.px-lg-16{padding-top:16px;padding-bottom:16px;}
.px-lg-17{padding-top:17px;padding-bottom:17px;}
.px-lg-18{padding-top:18px;padding-bottom:18px;}
.px-lg-19{padding-top:19px;padding-bottom:19px;}
.px-lg-20{padding-top:20px;padding-bottom:20px;}
.px-lg-21{padding-top:21px;padding-bottom:21px;}
.px-lg-22{padding-top:22px;padding-bottom:22px;}
.px-lg-23{padding-top:23px;padding-bottom:23px;}
.px-lg-24{padding-top:24px;padding-bottom:24px;}
.px-lg-25{padding-top:25px;padding-bottom:25px;}
.px-lg-26{padding-top:26px;padding-bottom:26px;}
.px-lg-27{padding-top:27px;padding-bottom:27px;}
.px-lg-28{padding-top:28px;padding-bottom:28px;}
.px-lg-29{padding-top:29px;padding-bottom:29px;}
.px-lg-30{padding-top:30px;padding-bottom:30px;}
.px-lg-31{padding-top:31px;padding-bottom:31px;}
.px-lg-32{padding-top:32px;padding-bottom:32px;}
.px-lg-33{padding-top:33px;padding-bottom:33px;}
.px-lg-34{padding-top:34px;padding-bottom:34px;}
.px-lg-35{padding-top:35px;padding-bottom:35px;}
.px-lg-36{padding-top:36px;padding-bottom:36px;}
.px-lg-37{padding-top:37px;padding-bottom:37px;}
.px-lg-38{padding-top:38px;padding-bottom:38px;}
.px-lg-39{padding-top:39px;padding-bottom:39px;}
.px-lg-40{padding-top:40px;padding-bottom:40px;}
.px-lg-41{padding-top:41px;padding-bottom:41px;}
.px-lg-42{padding-top:42px;padding-bottom:42px;}
.px-lg-43{padding-top:43px;padding-bottom:43px;}
.px-lg-44{padding-top:44px;padding-bottom:44px;}
.px-lg-45{padding-top:45px;padding-bottom:45px;}
.px-lg-46{padding-top:46px;padding-bottom:46px;}
.px-lg-47{padding-top:47px;padding-bottom:47px;}
.px-lg-48{padding-top:48px;padding-bottom:48px;}
.px-lg-49{padding-top:49px;padding-bottom:49px;}
.px-lg-50{padding-top:50px;padding-bottom:50px;}
.px-lg-51{padding-top:51px;padding-bottom:51px;}
.px-lg-52{padding-top:52px;padding-bottom:52px;}
.px-lg-53{padding-top:53px;padding-bottom:53px;}
.px-lg-54{padding-top:54px;padding-bottom:54px;}
.px-lg-55{padding-top:55px;padding-bottom:55px;}
.px-lg-56{padding-top:56px;padding-bottom:56px;}
.px-lg-57{padding-top:57px;padding-bottom:57px;}
.px-lg-58{padding-top:58px;padding-bottom:58px;}
.px-lg-59{padding-top:59px;padding-bottom:59px;}
.px-lg-60{padding-top:60px;padding-bottom:60px;}
.px-lg-61{padding-top:61px;padding-bottom:61px;}
.px-lg-62{padding-top:62px;padding-bottom:62px;}
.px-lg-63{padding-top:63px;padding-bottom:63px;}
.px-lg-64{padding-top:64px;padding-bottom:64px;}
.px-lg-65{padding-top:65px;padding-bottom:65px;}
.px-lg-66{padding-top:66px;padding-bottom:66px;}
.px-lg-67{padding-top:67px;padding-bottom:67px;}
.px-lg-68{padding-top:68px;padding-bottom:68px;}
.px-lg-69{padding-top:69px;padding-bottom:69px;}
.px-lg-70{padding-top:70px;padding-bottom:70px;}
.px-lg-71{padding-top:71px;padding-bottom:71px;}
.px-lg-72{padding-top:72px;padding-bottom:72px;}
.px-lg-73{padding-top:73px;padding-bottom:73px;}
.px-lg-74{padding-top:74px;padding-bottom:74px;}
.px-lg-75{padding-top:75px;padding-bottom:75px;}
.px-lg-76{padding-top:76px;padding-bottom:76px;}
.px-lg-77{padding-top:77px;padding-bottom:77px;}
.px-lg-78{padding-top:78px;padding-bottom:78px;}
.px-lg-79{padding-top:79px;padding-bottom:79px;}
.px-lg-80{padding-top:80px;padding-bottom:80px;}
.px-lg-81{padding-top:81px;padding-bottom:81px;}
.px-lg-82{padding-top:82px;padding-bottom:82px;}
.px-lg-83{padding-top:83px;padding-bottom:83px;}
.px-lg-84{padding-top:84px;padding-bottom:84px;}
.px-lg-85{padding-top:85px;padding-bottom:85px;}
.px-lg-86{padding-top:86px;padding-bottom:86px;}
.px-lg-87{padding-top:87px;padding-bottom:87px;}
.px-lg-88{padding-top:88px;padding-bottom:88px;}
.px-lg-89{padding-top:89px;padding-bottom:89px;}
.px-lg-90{padding-top:90px;padding-bottom:90px;}
.px-lg-91{padding-top:91px;padding-bottom:91px;}
.px-lg-92{padding-top:92px;padding-bottom:92px;}
.px-lg-93{padding-top:93px;padding-bottom:93px;}
.px-lg-94{padding-top:94px;padding-bottom:94px;}
.px-lg-95{padding-top:95px;padding-bottom:95px;}
.px-lg-96{padding-top:96px;padding-bottom:96px;}
.px-lg-97{padding-top:97px;padding-bottom:97px;}
.px-lg-98{padding-top:98px;padding-bottom:98px;}
.px-lg-99{padding-top:99px;padding-bottom:99px;}
.px-lg-100{padding-top:100px;padding-bottom:100px;}
}